{% extends "base.html" %}
{% load static %}

{% block content %}
<body>
    <h1>This is on my book Template
</body>
{% endblock %}

{% block extra %}
<body>
    <h1>this is on my footer
</body>
{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django-Setup</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
</head>
<body>
    <h1>Hello Django From Heroku</h1>
    
</body>
</html> -->
